<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omiu Button</title>
    <script type="module" src="/src/index.tsx"></script>
  </head>

  <body>
    <a
      href="https://github.com/Tencent/omi"
      target="_blank"
      style="position: fixed; right: 0; top: 0; z-index: 3"
    >
      <img src="//alloyteam.github.io/github.png" alt="" />
    </a>
    <script src="https://tencent.github.io/omi/packages/omi/dist/omi.js"></script>
    <script src="https://tencent.github.io/omi/components/icon/loading.js"></script>
   
    

    <o-loading block>Block button</o-loading>
  </body>
</html>
